<h1>Category</h1>

<p>
    <a asp-action="Create" class="btn btn-success text-white"> <i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let cate of cateList">
            <td>
                {{cate.categoryName}}
            </td>
            <td>
                {{cate.categoryDescription}}
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning mr-1" asp-route-id="@item.Id">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </a>
                <a asp-action="Details" class="btn btn-info text-white mr-1" asp-route-id="@item.Id">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                <a asp-action="Delete" class="btn btn-danger text-white" asp-route-id="@item.Id"
                    onclick="return confirm('Are you sure you want to delete this record?')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>

    </tbody>
</table>